In [1]:
import os
import tushare as ts
from dotenv import load_dotenv

load_dotenv()

token = os.getenv('TUSHARE_TOKEN')
# 用 assert 确认 token 不为空
assert token

# 初始化pro接口
ts.set_token(token=token)
pro = ts.pro_api()

# 拉取数据
df = pro.stock_basic()
df.head()

,ts_code,symbol,name,area,industry,cnspell,market,list_date,act_name,act_ent_type
0,000001.SZ,000001,平安银行,深圳,银行,payh,主板,19910403,无实际控制人,无
1,000002.SZ,000002,万科A,深圳,全国地产,wka,主板,19910129,深圳市人民政府国有资产监督管理委员会,地方国企
2,000004.SZ,000004,*ST国华,深圳,软件服务,stgh,主板,19910114,李映彤,民营企业
3,000006.SZ,000006,深振业A,深圳,区域地产,szya,主板,19920427,深圳市人民政府国有资产监督管理委员会,地方国企
4,000007.SZ,000007,全新好,深圳,其他商业,qxh,主板,19920413,王玩虹,民营企业

In [2]:
df = ts.pro_bar(ts_code='600519.SH', start_date='20150118', end_date='20150615', adj='qfq')
df.head()

/Users/yapex/workspace/stock_downloader/.venv/lib/python3.13/site-packages/tushare/pro/data_pro.py:130: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['adj_factor'] = data['adj_factor'].fillna(method='bfill')

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600519.SH,20150615,266.98,272.00,260.08,260.89,266.00,-5.11,-1.92,100014.22,2664672.586
1,600519.SH,20150612,262.12,273.00,261.00,266.00,260.06,5.94,2.28,90909.52,2438986.511
2,600519.SH,20150611,260.00,264.50,257.77,260.06,261.05,-0.99,-0.38,52954.54,1378413.758
3,600519.SH,20150610,255.64,266.88,253.80,261.05,259.03,2.02,0.78,80462.08,2096832.880
4,600519.SH,20150609,265.00,269.80,256.50,259.03,264.64,-5.61,-2.12,77851.86,2045525.401