In [17]:
from neo.app import container

downloader = container.downloader()
df = downloader.download('cash_flow', '600519')

df_by_year = (
    df[(df['end_date'].str.endswith('1231')) & (df['update_flag'] == '0')]  # 正确筛选
    .sort_values('end_date', ascending=False)  # 按 end_date 降序排序
    .dropna(axis=1, how='all')  # 去除所有值为 NaN 的列
)

df_by_year

,ts_code,ann_date,f_ann_date,end_date,comp_type,report_type,end_type,net_profit,finan_exp,c_fr_sale_sg,...,decr_inventories,decr_oper_payable,incr_oper_payable,im_net_cashflow_oper_act,im_n_incr_cash_equ,credit_impa_loss,use_right_asset_dep,end_bal_cash,beg_bal_cash,update_flag
15,600519.SH,20230331,20230331,20221231,1,1,4,6.537514e+10,12023204.77,1.406917e+11,...,-5.430009e+09,-1.505187e+10,-8.644821e+09,3.669860e+10,-2.626185e+10,14686546.25,7.737159e+07,1.523787e+11,1.786406e+11,0
20,600519.SH,20220331,20220331,20211231,1,1,4,5.572053e+10,13529867.76,1.193205e+11,...,-4.525277e+09,5.043057e+08,1.188088e+10,6.402868e+10,3.190006e+10,13022441.19,1.016080e+08,1.786406e+11,1.467405e+11,0
25,600519.SH,20210331,20210331,20201231,1,1,4,4.952333e+10,NaN,1.070244e+11,...,-3.584167e+09,-5.040084e+08,4.945291e+09,5.166907e+10,2.573669e+10,71371809.85,NaN,1.467405e+11,1.210038e+11,0
31,600519.SH,20200422,20200422,20191231,1,1,4,4.397000e+10,NaN,9.498014e+10,...,-1.777970e+09,3.424861e+09,-1.615205e+09,4.521061e+10,2.276055e+10,NaN,NaN,1.210038e+11,9.824329e+10,0
37,600519.SH,20190329,20190329,20181231,1,1,4,3.782962e+10,NaN,8.426870e+10,...,-1.449469e+09,5.256650e+08,2.948394e+09,4.138523e+10,2.331521e+10,NaN,NaN,9.824329e+10,7.492808e+10,0
42,600519.SH,20180328,20180328,20171231,1,1,4,2.900642e+10,NaN,6.442148e+10,...,-1.435230e+09,-4.587285e+08,-6.424244e+09,2.215304e+10,1.213329e+10,NaN,NaN,7.492808e+10,6.279479e+10,0
46,600519.SH,20170415,20170415,20161231,1,1,4,1.793064e+10,NaN,6.101296e+10,...,-2.608955e+09,7.669651e+09,1.410172e+10,3.745125e+10,2.801431e+10,NaN,NaN,6.279479e+10,3.478049e+10,0
50,600519.SH,20160324,20160324,20151231,1,1,4,1.645500e+10,NaN,3.708307e+10,...,-3.030933e+09,-6.705178e+09,1.020747e+10,1.743634e+10,9.783257e+09,NaN,NaN,3.478049e+10,2.499723e+10,0
54,600519.SH,20150421,20150421,20141231,1,1,4,1.626937e+10,NaN,3.338484e+10,...,-3.145554e+09,-1.517982e+09,1.836590e+08,1.263252e+10,3.005487e+09,NaN,NaN,2.499723e+10,2.199174e+10,0
58,600519.SH,20140325,20140325,20131231,1,1,4,1.596490e+10,-17474.78,3.323387e+10,...,-2.171083e+09,-6.337960e+07,-1.453960e+09,1.265502e+10,-7.025761e+07,NaN,NaN,2.199174e+10,2.206200e+10,0
62,600519.SH,20130329,20130329,20121231,1,1,4,1.400845e+10,-89497.15,2.891237e+10,...,-2.478610e+09,-6.488979e+07,1.626437e+08,1.192131e+10,3.807310e+09,NaN,NaN,2.206200e+10,1.825469e+10,0
66,600519.SH,20120411,20120411,20111231,1,1,4,9.250324e+09,-102972.37,2.365913e+10,...,-1.612991e+09,-1.486733e+08,2.542863e+09,1.014856e+10,5.366296e+09,NaN,NaN,1.825469e+10,1.288839e+10,0
70,600519.SH,20110321,20110321,20101231,1,1,4,5.339761e+09,-105801.61,1.493858e+10,...,-1.381880e+09,2.315341e+08,1.782532e+09,6.201477e+09,3.145242e+09,NaN,NaN,1.288839e+10,9.743152e+09,0
74,600519.SH,20100402,20100402,20091231,1,1,4,4.552889e+09,-158121.82,1.175624e+10,...,-1.077679e+09,-6.715965e+08,1.262936e+09,4.223937e+09,1.649430e+09,NaN,NaN,9.743152e+09,8.093722e+09,0
78,600519.SH,20090325,20090325,20081231,1,1,4,4.000759e+09,-761176.07,1.127523e+10,...,-8.097489e+08,-9.451547e+07,2.108565e+09,5.247489e+09,3.371016e+09,NaN,NaN,8.093722e+09,4.722706e+09,0
82,600519.SH,20080313,20080313,20071231,1,1,4,2.966053e+09,-2019007.08,7.437754e+09,...,-3.239017e+08,7.161660e+07,-1.265397e+09,1.743303e+09,2.484852e+08,NaN,NaN,4.722706e+09,4.474221e+09,0
86,600519.SH,20080313,20070403,20061231,1,1,4,1.616375e+09,-4938430.26,6.161615e+09,...,-1.152104e+08,-5.427872e+07,6.188796e+08,2.112937e+09,5.784852e+08,NaN,NaN,4.474221e+09,3.895736e+09,0
90,600519.SH,20060405,20060405,20051231,1,1,4,1.169122e+09,-32264593.95,4.976669e+09,...,-1.668084e+08,-8.641134e+07,7.395352e+08,1.693707e+09,9.936620e+08,NaN,NaN,3.891989e+09,2.898327e+09,0